html{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, .h1 {
    font-family: 'Luckiest Guy', cursive;
    align-content: center;
    color: #f0f3f5;
    font-size: 72px !important;
}

h3 {
    color:#f0f3f5
}

h4 {
    color: #19535F;
    font-size: 38px !important;
    text-align: center;
}

p, br {
    font-family: 'Bitter';
    align-content: center;
    text-align: left;
}

li {
    font-family: 'Bitter';
}

#Top3 {
padding: 5%;
}

div {
    flex: auto;
    width: 100%;
    text-align: left;
    align-content: center;
    vertical-align: middle;
    background-size: cover;
}

.btn-primary {
    background-color: #0b7a75 !important;
    border-color: #0b7a75 !important;
}

#HeaderHero {
    flex: 1;
    width: 100%;
    height: 35vh;
    align-content: center;
    text-align: center;
    vertical-align: middle !important;
    padding-top: 75px;
    padding-bottom: 75px
} 

main {
    height: 100%;
}

footer {
    flex: 0 40px;
}