html{
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    flex: 0 80px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    align-content: center;
    color: #f0f3f5;
    font-size: xx-large;
}

h3 {
    color:#f0f3f5
}

h4 {
    color: #19535F;
}

p, br {
    align-content: center;
    text-align: left;
}

div {
    width: 100%;
    text-align: center;
    align-content: center;
    background-size: cover;
    
}

.btn-primary {
    background-color: #0b7a75 !important;
    border-color: #0b7a75 !important;
}

#HeaderHero {
    flex: 0 80px;
    width: 100%;
    height: 35vh;
    align-content: center;
    text-align: center;
    vertical-align: center;
    padding-top: 75px;
    padding-bottom: 75px
}

main {
    height: 100%;
}

footer {
    flex: 0 40px;
}