html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1, .h1 {
    font-family: 'Luckiest Guy', cursive;
    align-content: center;
    color: #F0F3F5;
    font-size: 72px !important;
}

h2 {
    color:#19535F;
}

h3 {
    color: #19535F;
}

h4 {
    color: #19535F;
    font-family: 'Bitter';
    font-size: 24px !important;
    text-align: center;
}

p, br {
    font-family: 'Bitter';
    align-content: center;
    justify-content: left;
}

li {
    font-family: 'Bitter';
    line-height: 40px;
    text-align: center;
    /* align-content: center; */
    list-style-type: none;
}

#closedbackground {
    position:relative;
    display:flex;
    height: 100%; 
    align-items: center;
    padding: 5%;
    flex-direction: column;
}

#btntext {
    display: block;
    align-items: center;
    padding: 3em;
}

#frtnbtncont {
    background-color: #BFD7B5;
    position:relative;
    display: flex;
    flex: auto;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 6px 15px #888888;
    align-items: center;
    align-content: center;
    margin-bottom: 3%;
}

.btn-primary {
    background-color: #0b7a75 !important;
    border-color: #0b7a75 !important;
    box-shadow: 3px 5px 8px #888888;
}

.btn-outline-primary {
    background-color: #0b7a75 !important;
    border-color: #0b7a75 !important;
    color:#F0F3F5 !important;
}

#second {
    background-color: #F0F3F5 !important;
    border-color: #19535f !important;
    color:#19535F;
    border-width: 2px;
    box-shadow: 2px 4px 6px #888888;
}

main {
    height: 100%;
}

#footerDiv {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

footer {
    position: relative;
    display: flex;
    background-color: #F0F3F5;
    bottom: 0;
    height: 10vh;
    width: 100%;
    flex: 0 10vh;
    align-items: center;
    vertical-align: middle;
}